<!DOCTYPE html>
<html>
<head>

<title>Sensor data</title>

<h1 style='color: black; font-family: Courier New; font-size: 50px; text-align: center;'>
	Homepage
</h1>
<div style='color: black; font-family: Courier New; font-size: 12px; text-align: justify; text-align: center; '>
Esta é a página dos dados dos sensores adquiridos.
</div>


<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>


<body>

<ul>
<a class="btn btn-default" href="temperature.html" role="button" style='font-family: Courier New; text-align: center;'>
	Temperature
</a>
<a class="btn btn-default" href="altitude.html" role="button" style='font-family: Courier New; text-align: center;'>
	Altitude
</a>
</ul>

</body>


</html>